/* Responsive design  */

/* Mobile responsive  */


@media screen and (max-width:576px) {
    .resume-container{
        display: grid;
        flex-direction: column;
    }

    .resume-item-des{
        width: 30%;
    }
    .about-title-summary{
        
        margin-left: 20px;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }

    .resume-item-title{
        font-size: 20px;
        margin-bottom: 10px;
    }

    hr{
        width: 30%;
    }


    .skills-container{
        flex-direction: column;
    }

    .skills-des{
        margin-top: 10px;
        width: 30%;
    }

    .what-i-do{
        width: 30%;
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 0;
    }

    .about-title-do{
        padding: 0;
    text-align: left;
    font-size: 39px;
    margin-left: 6rem;
    margin-bottom: 1rem;
    }

}

